version: '3.8'

services:
  backend:
    container_name: nest-backend
    build:
      context: .
      dockerfile: Dockerfile.prod 
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/instagram_beta
      - NODE_ENV=production
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: instagram_beta
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  pgdata:
