version: '3.8'

services:
  backend:
    container_name: instagram-beta-backend
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - '3001:3001'
    env_file:
      - .env
    depends_on:
      - db
    restart: always
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
volumes:
  postgres_data:
